name: Test

on:
  push:
   branches: 
    - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install dependencies
        run: npm install --frozen-lockfile

      - name: Test
        run: npm run test

  test-build:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        
      - name: Install dependencies
        run: npm install --frozen-lockfile

      - name: Build
        run: npm run build