name: Test

on:
  push:
   branches: 
    - master
  pull_request:
    branches: 
    - '*'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install dependencies
        run: npm install --frozen-lockfile

      - name: Test
        run: npm run test

      - name: Lint
        run: npm run lint

  test-build:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        
      - name: Install dependencies
        run: npm install --frozen-lockfile

      - name: Build
        run: npm run build

      - name: i18n-check
        run: node ./dist/bin/i18n-check.js -l locale/json -e json -s zh_CN --no-watch -f